<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/todos" method="post">
    <input name="task">
    <input type="submit" value="add">
</form>
<ul>
    {{#each todos as |todo|}}
        <li>{{todo.name}}</li>
    {{/each}}
</ul>

</body>
</html>